html, body {
  width: 332px;
}

.pure-form {
  float: right;
}

.pure-table,
.envUrl-field,
span.pure-menu-link {
  display: none;
}

.pure-menu-item a.pure-menu-link {
  display: inline-block;
  width: 80%;
}

a.pure-menu-link:before {
  content: "❭ ";
}

a.pure-menu-link.selected {
  font-weight: bold;
}

a.pure-menu-link.selected:before {
  content: "❱ ";
}

span.pure-menu-link:hover {
  background: none;
}

.selected ~ span.pure-menu-link,
.selected ~ .envUrl-field {
  display: block;
}

.selected ~ .envUrl-field {
  width: 100%;
}

.selected ~ table {
  display: table;
}

.close-button {
  float: right;
}

#Back {
  margin: 0.35em 0 0.75em;
}

#saveAllChanges {
  margin-top: 0.5em;
}
