html, body {
  width: 332px;
}

.pure-form {
  float: right;
}

.pure-table {
  display: none;
}

.pure-menu-item .pure-menu-link {
  display: inline-block;
  width: 80%;
}

.pure-menu-link:before {
  content: "❭ ";
}

.pure-menu-link.selected {
  font-weight: bold;
}

.pure-menu-link.selected:before {
  content: "❱ ";
}

.selected ~ table {
  display: table;
}

.close-button {
  float: right;
}

#Back {
  margin: 0.35em 0 0.75em;
}

#saveAllChanges {
  margin-top: 0.5em;
}
